<!DOCTYPE html>
<html lang="en">
<head>
  {{>heading}}
</head>
<body>
    {{>navbar}}
    
    <div class="donate-area">
        
        <div class="right">
            <img src="images/donation.jpg" alt="">
        </div>
        <div class="left">
            <p>Bank-details:<br> A/C:-5613380891<br> 
            IFSC-CODE:-KKBK0005619<br>
           UPI Id:-rockykumarbgs8789@oksbi</p>
        </div>
    </div>
    
    {{>footer}}
</body>
</html>
