<!DOCTYPE html>
<html lang="en">

<head>
    {{>heading}}
</head>

<body>
    {{>navbar}}

    <div class="donate-area">

        <div class="right">
            <img src="images/donation.jpg" alt="">
        </div>
        <div class="left">
            <p>Bank-details:<br> A/C:-5613380891<br>
                IFSC-CODE:-KKBK0005619<br>
                Donate using UPI<br><button class="donate-btn" style="margin:10px 0 0 35px"><a
                        href="upi://pay?pa=rockykumarbgs8789@oksbi&amp;pn=rockykumar&amp;tn=Donate a AMEBVS-NGO&amp;am=10&amp;cu=INR">Donate</a></button>
            </p>
        </div>
    </div>

    {{>footer}}
</body>

</html>