 <footer class="footer-container">
        <div class="footer-content">         
                <div>
                    <h2>Address</h2>
                    <ul class="address">
                        <li>Begusarai</li>
                        <li>Vishnupur</li>
                        <li>Bihar(851129)</li>
                    </ul>
                </div>
                <div class="features">
                    <h2>useful link</h2>
                    <ul class="box">
                        <li><a href="/">Home</a></li>
                        <li><a href="https://asthamahilabalvikhashsanshtan.blogspot.com/" target="_blank" >Blogs</a></li>
                        <li><a href="/contact">contact</a></li>
                        <li><a href="/donate">Donate</a></li>
                    </ul>
                </div>
                <div class="social-media">
                    <h2>social media</h2>
                    <ul class="box">
                        <a href="https://www.facebook.com/asthamahilaevambalvikash" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/asthamahila.bv/"target="_blank"><i class="fa fa-instagram" style="color: red;"></i></a>
                        <a href="https://twitter.com/AsthaEvam"target="_blank"><i class="fa fa-twitter" style="color: skyblue;"></i></a>
                    </ul>
                </div>
            </div>
       
  <div class="footer-bottom">
     <hr>
      <p>All right reserved by &copy;<a href="https://www.linkedin.com/in/rocky-kumar-3b6209145/"target="_blank"><i class="fa fa-heart" style="color:red"></i>Rocky kumar</a></p>
  </div>
    </footer>
    <a href="#" class="to-top">
     <i class="fa fa-chevron-up"></i>
 </a>
 

  <script src="/javascripts/myScript.js"></script>
  <script>
    $(document).ready(function () {
        $('.btn').click(function () {
            $('.items').toggleClass("show");
            $('ul li').toggleClass("hide");
        });
    });
</script>