  <!-- heading area -->
    <header>
        <a href="/"><img class="logo" src="images/logo 1.png" alt=""></a>
        <h1 class="title">Astha Mahila Evam Bal Vikash Sanshan </h1>
    </header>
    <nav>
        <ul>
            <li class="log"><a href="/">AMEBVS</a></li>
            <li class="items"><a href="/" >Home</a></li>
            <li class="items"><a href="https://asthamahilabalvikhashsanshtan.blogspot.com/" target="_blank" >Blogs</a></li>
            <li class="items"><a href="/contact">Contact</a></li>
            <li class="items"><a href="#">About us</a></li>
            <li class="items" ><a href="/donate">Donate</a></li>
            <li class="btn" ><a ><i class="fa fa-bars"></i></a></li>
            
        </ul>
    

    </nav>